@import "variable";
.carousel-indicators{
  & li{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 10px;
    background-color: #b9b9b9;
  }
  & .active{
    background-color:$backgroundColor-highlight;
    width: 40px;
    border-radius: 5px;
  }
}
.carousel-control-next-icon, .carousel-control-prev-icon{
background-size: 50%;
}