@charset "UTF-8";
html {
  font-size: 62.5% !important; /* 10÷16=62.5% */
}

@media only screen and (min-width: 481px) {
  html {
    font-size: 94% !important; /* 15.04÷16=94% */
  }
}

@media only screen and (min-width: 561px) {
  html {
    font-size: 109% !important; /* 17.44÷16=109% */
  }
}

@media only screen and (min-width: 641px) {
  html {
    font-size: 125% !important; /* 20÷16=125% */
  }

}

.about {
  top: 60px;
}

.fixed-top {
  padding: 0;
}

.row {
  margin: 0;
}

input:focus {
  outline: none;
  border-color: transparent;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0);
  border-radius: 5px;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #d6d6d6;
}

input:-moz-placeholder, textarea:-moz-placeholder {
  color: #d6d6d6;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #d6d6d6;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #d6d6d6;
}

button {
  &:focus {
    outline: none;
  }
  &:hover {
    cursor: pointer;
  }
}

ul li {
  list-style: none;
}

a:hover {
  text-decoration: none;
}

/*分页*/
.page-item {
  border: none;
  &:first-child, &:nth-child(2), &:last-child, &:nth-last-child(2) {
    height: 35px;
    width: 40px;
    background: url(../image/index_page/page_bg.jpg) 8px 7px no-repeat;
  }
  & .page-link {
    border-radius: 0;
  }
  &:first-child:hover,
  &:nth-child(2):hover,
  &:last-child:hover,
  &:nth-last-child(2):hover {
    background: url(../image/index_page/page_bg_hover.jpg) 8px 7px no-repeat;
    background-color: $backgroundColor-highlight;
  }

  &:first-child, &:nth-child(2) {
    margin-right: 2px;

    & span {
      font-weight: bold;
    }

    & .page-link {
      height: 40px;
      border-radius: 0;
    }
  }

  &:nth-child(2) {
    margin-left: 2px;
    background-position: 7px -21px;

    &:hover {
      background-position: 7px -21px;
    }
  }

  &:last-child, &:nth-last-child(2) {
    margin-left: 2px;

    & span {
      font-weight: bold;
    }

    & .page-link {
      height: 40px;
      border-radius: 0;
    }
  }

  &:last-child, &:last-child:hover {
    background-position: -21px 7px;
  }

  &:nth-last-child(2) {
    margin-right: 2px;
    background-position: -21px -21px;

    &:hover {
      background-position: -21px -21px;
    }
  }
  &.active .page-link {
    color: #fff;
    background-color: $backgroundColor-highlight;
  }

  & .page-link {
    background-color: transparent;

    &:focus {
      box-shadow: unset;
    }
  }
}

/*面包屑导航*/
.breadcrumb_nav {
  background-color: transparent;
  padding: 15px 0;
  color: #3c3c3c;
  font-size: .7rem;
  margin-bottom: 0;
  border-bottom: 1px dashed #c3c3c3;
  &.breadcrumb {
    & a {
      color: #3c3c3c;
      &.active {
        color: $backgroundColor-highlight;
      }
    }
    & > li + li:before {
      color: #CCCCCC;
      content: "> ";
      padding: 0 5px;
    }
  }
}

/*轮播按钮*/
.carousel-control-next-icon, .carousel-control-prev-icon {
  width: 25px;
  height: 30px;
}

.carousel-control-next-icon.next, .carousel-control-prev-icon.prev {
  background-color: #000000ad;
}

.carousel-control-next, .carousel-control-prev {
  width: 6%;
}

.form-control {
  border: none;
  box-shadow: unset;
  font-size: .7rem;
  padding: .4rem .5rem !important;
  &:invalid:focus {
    box-shadow: 0 0 0 2px #dc354540 !important;
  }
  &:valid:focus {
    box-shadow: 0 0 0 2px #28a74540 !important;
  }
}

.custom-select {
  &:focus{
    border-color: transparent;
  }
  &:invalid:focus {
    box-shadow: 0 0 0 2px #dc354540 !important;
  }
  &:valid:focus {
    box-shadow: 0 0 0 2px #28a74540 !important;
  }
}