.footer {
  text-align: center;
  padding: 1.5rem .5rem;
  margin: 5rem auto 3rem;
  color: black;
  font-size: .8rem;
  & .footer_nav {
    margin: 0 auto;
    & ul {
      font-weight: bold;
      width: 100%;
      padding: 0;
      padding-bottom: 1rem;
      list-style: none;
      color: #404040;
      font-size: .8rem;
      display: flex;
      align-items: center;
      justify-content: center;
      & li {
        padding-right: .5rem;
        margin-right: .5rem;
        height: .8rem;
        line-height: .8rem;
        border-right: 1px solid #4e555b;
      }
    }
  }
  & .footer_info {
    color: #4040409c;
    font-size: .75rem;
    & img {
      opacity: .4;
      width: 1rem;
      height: auto;
      margin-right: .5rem;
    }
    & .footer_item {
      & p {
        margin: .2rem auto;
        & span {
          margin: 0 .5rem;
        }
      }
    }
  }
  & .footer_sub_info {
    color: #4040409c;
  }

}

@media screen and (max-width: 768px) {
  .footer .footer_nav ul li {
    border: none;
    height: 2.8rem;
    line-height: 1.4rem;
  }
}
