.nav_box {
  .bg-light {
    background-color: #fff!important;
    //background-color: transparent !important;
    .container {
      //border-width: 3px 3px 0;
      //border-style: solid;
      //background-color: rgba(255, 255, 255, 0.51);
      //border-color: #000;
      //border-radius: 10px 10px 0 0;
    }
  }
  //height: 50px;
  font-size: .8rem;
  .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: $backgroundColor-highlight;
    color: #fff;
    border-bottom: none;
    padding: 10px 8px;

  }
    .nav-pills{
      & a.nav-link {
        border-radius: 0;
        color: black;
        padding: 10px 0;
        margin: 0 .3rem;
        & .phone_img {
          width: 17px;
          height: 17px;
          margin-right: 6px;
        }
        &.active {
          color: $backgroundColor-highlight;
          background-color: transparent;
          border-bottom: 2px solid $backgroundColor-highlight;
        }
      }
    }

  .login_btn {
    color: darken($textColor-base, 80%);
    &.line {
      padding: 0 5px;
      color: #d0d0d0;
    }
  }
}

@media (max-width: 786px) {
  .nav_box {
    & .navbar-brand {
      padding-left: 1rem;
    }

    .navbar-collapse {
      padding-left: 0;

      & .navbar-nav {
        float: right;
        text-align: center;
        &.nav-pills{
          & a.nav-item.nav-link {
            &.active {
              border: none !important;
            }
          }
        }

      }
    }
    .navbar-toggler {
      border: none;
    }
  }

}
