$textColor-base:#fff;
$backgroundColor-base:#fff;
$backgroundColor-highlight: rgba(156, 142, 240, 0.47);
$borderColor-base:#fff;
$aboutList-btn-color:#263551;
$abooutList-btn-color-highlight: #334871;
$partners-highlight-color: #11c9df;
$lighten-colorful: #eff0fa;
$text-gray: #8b8b8b;

