$textColor-base:#fff;
$backgroundColor-base:#fff;
$backgroundColor-highlight: #9c8ef0;
$borderColor-base:#fff;
$aboutList-btn-color:#263551;
$abooutList-btn-color-highlight: #334871;
$partners-highlight-color: #11c9df;
$lighten-colorful: #eff0fa;

