$textColor-base: rgb(255, 255, 255);
$backgroundColor-base:#fff;
$backgroundColor-highlight: rgba(156, 142, 240, 0.47);
$borderColor-base:#fff;
$aboutList-btn-color:#263551;
$abooutList-btn-color-highlight: #334871;
$partners-highlight-color: #11c9df;
$lighten-colorful: #eff0fa;
$text-gray: rgba(139, 139, 139, 0.31);

