.content_container {
  position: relative;
  top: 4rem; }
  .content_container .activity_content .content_first p {
    text-align: left;
    margin-bottom: .5rem;
    color: #666666;
    font-size: .7rem; }
    .content_container .activity_content .content_first p span {
      color: #000; }
    .content_container .activity_content .content_first p.content_title {
      font-size: .8rem;
      color: #000;
      font-weight: bold;
      padding: .5rem 0; }
  .content_container .activity_content .content_first .banner_img {
    width: 100%;
    height: auto;
    padding-bottom: 1rem; }
  .content_container .activity_content .content_first .content_layout {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    border-bottom: 1px dashed #c3c3c3;
    padding-bottom: 1.5rem; }
    .content_container .activity_content .content_first .content_layout .content_btn {
      border: none;
      background-color: #9c8ef0;
      color: #fff;
      border-radius: 5px;
      font-size: .7rem;
      padding: .2rem .5rem; }
  .content_container .activity_content .content_module {
    padding: .5rem 0; }
    .content_container .activity_content .content_module p {
      margin-bottom: .5rem;
      color: #666;
      font-size: .6rem; }
      .content_container .activity_content .content_module p.item_title {
        font-weight: bold;
        color: #1e1e1e;
        font-size: .7rem;
        padding: .5rem 0 .5rem .2rem;
        margin-bottom: 0; }
        .content_container .activity_content .content_module p.item_title::before {
          content: "";
          padding-left: .2rem;
          border-left: 4px solid #000; }
    .content_container .activity_content .content_module .item_text {
      padding: .5rem 0 1rem; }
      .content_container .activity_content .content_module .item_text p {
        color: #3c3c3c;
        padding: 0 4px; }
        .content_container .activity_content .content_module .item_text p.text_top {
          margin-bottom: 1rem; }
      .content_container .activity_content .content_module .item_text.border_bottom {
        border-bottom: 1px dashed #3c3c3c; }
    .content_container .activity_content .content_module .item_images {
      padding: 0 0 2rem;
      border-bottom: 1px dashed #c3c3c3; }
      .content_container .activity_content .content_module .item_images .list_item {
        padding: 0;
        max-width: 49.2%; }
        .content_container .activity_content .content_module .item_images .list_item .list_img {
          width: 100%;
          height: auto; }
  .content_container .activity_content .detail_bottom {
    display: flex;
    align-items: baseline;
    justify-content: space-between; }
    .content_container .activity_content .detail_bottom .bottom_item {
      width: 100%;
      padding: 0; }
      .content_container .activity_content .detail_bottom .bottom_item .bottom_img {
        width: 100%;
        max-width: 8rem;
        height: auto; }
        .content_container .activity_content .detail_bottom .bottom_item .bottom_img.right_img {
          max-width: 14rem; }
      .content_container .activity_content .detail_bottom .bottom_item .title {
        width: 8rem; }
        .content_container .activity_content .detail_bottom .bottom_item .title p {
          margin-bottom: .5rem;
          font-size: .7rem;
          color: #3c3c3c;
          text-align: center; }
      .content_container .activity_content .detail_bottom .bottom_item:last-child {
        text-align: right; }

/*# sourceMappingURL=activity_detail.css.map */
