@charset "UTF-8";
@import url(my_nav.css);
.nav_box {
  font-size: .8rem; }
  .nav_box .bg-light {
    background-color: #fff !important; }
  .nav_box .nav-pills .nav-link.active, .nav_box .nav-pills .show > .nav-link {
    background-color: #9c8ef0;
    color: #fff;
    border-bottom: none;
    padding: 16px 6px; }
  .nav_box .nav-pills .nav-link.active, .nav_box .nav-pills .show > .nav-link.dropdown-toggle.consulting_dropdown {
    padding: 16px 12px; }
  .nav_box .nav-pills .nav-link.active, .nav_box .nav-pills .show > .nav-link.dropdown-toggle.dropdown_case {
    padding: 16px 9px; }
  .nav_box .dropdown-item .nav-link .active .show {
    border: none;
    padding-left: 30px; }
  .nav_box .nav-pills .nav-item:first-child a.nav-link.active {
    color: #9c8ef0;
    background-color: transparent;
    border-bottom: 2px solid #9c8ef0; }
  .nav_box .nav-pills a.nav-link {
    border-radius: 0;
    color: black;
    margin: 0 .3rem;
    padding: 16px 9px; }
    .nav_box .nav-pills a.nav-link .phone_img {
      width: 17px;
      height: 17px;
      margin-right: 6px; }
    .nav_box .nav-pills a.nav-link.active {
      color: #fff;
      background-color: #9c8ef0; }
      .nav_box .nav-pills a.nav-link.active.dropdown-item {
        color: #9c8ef0;
        background-color: transparent; }
  .nav_box .login_btn {
    color: #333333; }
    .nav_box .login_btn.line {
      padding: 0 5px;
      color: #d0d0d0; }
    .nav_box .login_btn:hover {
      cursor: pointer; }

.dropdown-toggle::after {
  border: none; }

.navbar-expand-lg .navbar-nav .dropdown-menu {
  left: 6px;
  top: 50px; }

.dropdown-menu {
  min-width: auto;
  text-align: center;
  background-color: #fff;
  border: none;
  padding: 0;
  box-shadow: 0px 3px 20px 0px #00000063;
  border-radius: 0; }

.dropdown-item {
  color: #656565;
  font-size: .7rem;
  padding: 10px .75rem; }
  .dropdown-item:hover {
    background-color: #9688e729;
    color: #9285e0ba !important; }
  .dropdown-item.active, .dropdown-item:active {
    background-color: transparent;
    color: #9c8ef0; }

.icon {
  background: url(../image/nav/plus.png) 100% no-repeat;
  background-position: 50% 50%;
  -webkit-transition: all 0s;
  -moz-transition: all 0s;
  transition: all 0s; }

.icon_on {
  background: url(../image/nav/reduce.jpg) 50% no-repeat !important;
  background-position: 50% 50%;
  -webkit-transition: all 0s;
  -moz-transition: all 0s;
  transition: all 0s; }

.nav-tabs.inside_tabs {
  display: block !important;
  border: none; }
  .nav-tabs.inside_tabs .nav-item a.inside_nav.nav-link {
    margin: 0;
    padding: 10px .2rem; }
    .nav-tabs.inside_tabs .nav-item a.inside_nav.nav-link:hover, .nav-tabs.inside_tabs .nav-item a.inside_nav.nav-link.active {
      border: none; }

.close_icon {
  display: none;
  font-size: 14px !important; }

@media (max-width: 786px) {
  .nav_box .navbar-brand {
    padding-left: 1rem; }
  .nav_box .navbar-collapse {
    padding-left: 0; }
    .nav_box .navbar-collapse .navbar-nav {
      float: left;
      margin-left: 70px;
      background-color: #fff;
      width: 100%; }
      .nav_box .navbar-collapse .navbar-nav.nav-pills a.nav-item.nav-link.active {
        border: none !important; }
  .nav_box .nav-pills a.nav-link.active {
    border: none !important; }
  .nav_box .navbar-toggler {
    border: none; } }
html {
  font-size: 62.5% !important;
  /* 10÷16=62.5% */ }

@media only screen and (min-width: 481px) {
  html {
    font-size: 94% !important;
    /* 15.04÷16=94% */ } }
@media only screen and (min-width: 561px) {
  html {
    font-size: 109% !important;
    /* 17.44÷16=109% */ } }
@media only screen and (min-width: 641px) {
  html {
    font-size: 125% !important;
    /* 20÷16=125% */ } }
.about {
  top: 60px; }

.fixed-top {
  padding: 0; }

.row {
  margin: 0; }

input:focus {
  outline: none;
  border-color: transparent;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0);
  border-radius: 5px; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #d6d6d6; }

input:-moz-placeholder, textarea:-moz-placeholder {
  color: #d6d6d6; }

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #d6d6d6; }

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #d6d6d6; }

button:focus {
  outline: none; }
button:hover {
  cursor: pointer; }

ul li {
  list-style: none; }

a:hover {
  text-decoration: none; }

/*分页*/
.page-item {
  border: none; }
  .page-item:first-child, .page-item:nth-child(2), .page-item:last-child, .page-item:nth-last-child(2) {
    height: 40px;
    width: 45px;
    background: url(../image/index_page/page_bg.jpg) 8px 7px no-repeat; }
  .page-item .page-link {
    border-radius: 0; }
  .page-item:first-child:hover, .page-item:nth-child(2):hover, .page-item:last-child:hover, .page-item:nth-last-child(2):hover {
    background: url(../image/index_page/page_bg_hover.jpg) 8px 7px no-repeat;
    background-color: #9c8ef0; }
  .page-item:first-child, .page-item:nth-child(2) {
    margin-right: 2px; }
    .page-item:first-child span, .page-item:nth-child(2) span {
      font-weight: bold; }
    .page-item:first-child .page-link, .page-item:nth-child(2) .page-link {
      height: 40px; }
  .page-item:nth-child(2) {
    margin-left: 2px;
    background-position: 7px -21px; }
    .page-item:nth-child(2):hover {
      background-position: 7px -21px; }
  .page-item:last-child, .page-item:nth-last-child(2) {
    margin-left: 2px; }
    .page-item:last-child span, .page-item:nth-last-child(2) span {
      font-weight: bold; }
    .page-item:last-child .page-link, .page-item:nth-last-child(2) .page-link {
      height: 40px; }
  .page-item:last-child, .page-item:last-child:hover {
    background-position: -21px 7px; }
  .page-item:nth-last-child(2) {
    margin-right: 2px;
    background-position: -21px -21px; }
    .page-item:nth-last-child(2):hover {
      background-position: -21px -21px; }
  .page-item.active .page-link {
    color: #fff;
    background-color: #9c8ef0; }
  .page-item .page-link {
    background-color: transparent; }
    .page-item .page-link:focus {
      box-shadow: unset; }

/*面包屑导航*/
.breadcrumb_nav {
  background-color: transparent;
  padding: 15px 0;
  color: #3c3c3c;
  font-size: .7rem;
  margin-bottom: 0;
  border-bottom: 1px dashed #c3c3c3; }
  .breadcrumb_nav.breadcrumb a {
    color: #3c3c3c; }
    .breadcrumb_nav.breadcrumb a.active {
      color: #9c8ef0; }
  .breadcrumb_nav.breadcrumb > li + li:before {
    color: #CCCCCC;
    content: "> ";
    padding: 0 5px; }

/*轮播按钮*/
.carousel-control-next-icon, .carousel-control-prev-icon {
  width: 25px;
  height: 30px; }

.carousel-control-next-icon.next, .carousel-control-prev-icon.prev {
  background-color: #000000ad; }

.carousel-control-next, .carousel-control-prev {
  width: 6%; }

.form-control {
  border: none;
  box-shadow: unset;
  font-size: .7rem;
  padding: .4rem .5rem !important; }
  .form-control:invalid:focus {
    box-shadow: 0 0 0 2px #dc354540 !important; }
  .form-control:valid:focus {
    box-shadow: 0 0 0 2px #28a74540 !important; }

.custom-select:focus {
  border-color: transparent; }
.custom-select:invalid:focus {
  box-shadow: 0 0 0 2px #dc354540 !important; }
.custom-select:valid:focus {
  box-shadow: 0 0 0 2px #28a74540 !important; }

.footer {
  text-align: center;
  padding: 1.5rem .5rem;
  margin: 5rem auto 3rem;
  color: black;
  font-size: .8rem; }
  .footer._footer {
    text-align: left;
    background-color: #fff; }
    .footer._footer .footer_nav ul {
      align-items: flex-start;
      justify-content: space-between;
      display: flex; }
      .footer._footer .footer_nav ul li {
        font-size: .67rem;
        font-weight: normal; }
  .footer .container {
    padding: 0; }
  .footer .footer_nav {
    margin: 0 auto;
    padding: 1rem 0; }
    .footer .footer_nav ul {
      font-weight: bold;
      width: 100%;
      padding: 0;
      padding-bottom: 1rem;
      list-style: none;
      color: #404040;
      display: flex;
      font-size: .8rem;
      align-items: center;
      justify-content: center; }
      .footer .footer_nav ul li {
        padding-right: .5rem;
        margin-right: .5rem;
        height: .8rem;
        line-height: .8rem;
        border-right: 1px solid #4e555b; }
        .footer .footer_nav ul li:last-child {
          border: none; }
  .footer .footer_info {
    color: #4040409c;
    font-size: .75rem; }
    .footer .footer_info img {
      opacity: .4;
      width: 1rem;
      height: auto;
      margin-right: .5rem; }
    .footer .footer_info .footer_item p {
      margin: .2rem auto; }
      .footer .footer_info .footer_item p span {
        margin: 0 .5rem; }
    .footer .footer_info .city_title {
      font-weight: bold;
      margin-bottom: .5rem; }
    .footer .footer_info .flex_layout {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 1.2rem;
      font-size: .7rem; }
      .footer .footer_info .flex_layout .city_footer {
        padding: 0;
        margin-bottom: 1rem; }
        .footer .footer_info .flex_layout .city_footer .city_name button {
          border: none;
          background-color: transparent;
          width: 70px;
          padding: 0;
          text-align: left;
          color: #908f8f; }
    .footer .footer_info .footer_status p {
      margin-bottom: .5rem;
      font-size: .6rem; }
  .footer .footer_sub_info {
    color: #4040409c; }

@media screen and (max-width: 768px) {
  .footer .footer_nav ul li {
    border: none;
    height: 2.8rem;
    line-height: 1.4rem; }

  ._footer .footer_nav ul {
    display: inline-block !important; }
    ._footer .footer_nav ul li {
      font-size: .67rem;
      font-weight: normal;
      float: left;
      margin: 0 1rem;
      padding: 0; }

  .footer._footer .footer_info {
    margin-left: .5rem; } }

/*# sourceMappingURL=common.css.map */
