@charset "UTF-8";
.nav_box {
  font-size: .8rem; }
  .nav_box .bg-light {
    background-color: #fff !important; }
  .nav_box .nav-pills .nav-link.active, .nav_box .nav-pills .show > .nav-link {
    background-color: #9c8ef0;
    color: #fff;
    border-bottom: none;
    padding: 10px 8px; }
  .nav_box .dropdown-item .nav-link .active .show {
    border: none;
    padding-left: 30px; }
  .nav_box .nav-pills a.nav-link {
    border-radius: 0;
    color: black;
    padding: 10px 0;
    margin: 0 .3rem; }
    .nav_box .nav-pills a.nav-link .phone_img {
      width: 17px;
      height: 17px;
      margin-right: 6px; }
    .nav_box .nav-pills a.nav-link.active {
      color: #9c8ef0;
      background-color: transparent;
      border-bottom: 2px solid #9c8ef0; }
  .nav_box .login_btn {
    color: #333333; }
    .nav_box .login_btn.line {
      padding: 0 5px;
      color: #d0d0d0; }

.dropdown-toggle::after {
  border: none; }

.dropdown-menu {
  min-width: auto;
  text-align: center;
  background-color: #fff;
  border: none;
  padding: 0;
  border-radius: 0; }

.dropdown-item {
  color: #656565;
  font-size: .7rem; }
  .dropdown-item.active, .dropdown-item:active {
    background-color: transparent;
    color: #9c8ef0; }

.icon {
  background: url(../image/nav/plus.png) 100% no-repeat;
  background-position: 50% 50%;
  -webkit-transition: all 0s;
  -moz-transition: all 0s;
  transition: all 0s; }

.icon_on {
  background: url(../image/nav/reduce.jpg) 50% no-repeat !important;
  background-position: 50% 50%;
  -webkit-transition: all 0s;
  -moz-transition: all 0s;
  transition: all 0s; }

.nav-tabs.inside_tabs {
  display: block !important;
  border: none; }
  .nav-tabs.inside_tabs .nav-item a.inside_nav.nav-link {
    margin: 0;
    padding: 10px .2rem; }
    .nav-tabs.inside_tabs .nav-item a.inside_nav.nav-link:hover, .nav-tabs.inside_tabs .nav-item a.inside_nav.nav-link.active {
      border: none; }

@media (max-width: 786px) {
  .nav_box .navbar-brand {
    padding-left: 1rem; }
  .nav_box .navbar-collapse {
    padding-left: 0; }
    .nav_box .navbar-collapse .navbar-nav {
      float: right;
      text-align: center; }
      .nav_box .navbar-collapse .navbar-nav.nav-pills a.nav-item.nav-link.active {
        border: none !important; }
  .nav_box .nav-pills a.nav-link.active {
    border: none !important; }
  .nav_box .navbar-toggler {
    border: none; } }
html {
  font-size: 62.5% !important;
  /* 10梅16=62.5% */ }

@media only screen and (min-width: 481px) {
  html {
    font-size: 94% !important;
    /* 15.04梅16=94% */ } }
@media only screen and (min-width: 561px) {
  html {
    font-size: 109% !important;
    /* 17.44梅16=109% */ } }
@media only screen and (min-width: 641px) {
  html {
    font-size: 125% !important;
    /* 20梅16=125% */ } }
.about {
  top: 60px; }

.fixed-top {
  padding: 0; }

.row {
  margin: 0; }

input:focus {
  outline: none;
  border-color: transparent;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0);
  border-radius: 5px; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #d6d6d6; }

input:-moz-placeholder, textarea:-moz-placeholder {
  color: #d6d6d6; }

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #d6d6d6; }

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #d6d6d6; }

button:focus {
  outline: none; }
button:hover {
  cursor: pointer; }

ul li {
  list-style: none; }

a:hover {
  text-decoration: none; }

.footer {
  text-align: center;
  padding: 1.5rem .5rem;
  margin: 5rem auto 3rem;
  color: black;
  font-size: .8rem; }
  .footer._footer {
    text-align: left;
    background-color: #fff; }
    .footer._footer .footer_nav ul {
      align-items: flex-start;
      justify-content: space-between;
      display: flex; }
      .footer._footer .footer_nav ul li {
        font-size: .67rem;
        font-weight: normal; }
  .footer .container {
    padding: 0; }
  .footer .footer_nav {
    margin: 0 auto;
    padding: 1rem 0; }
    .footer .footer_nav ul {
      font-weight: bold;
      width: 100%;
      padding: 0;
      padding-bottom: 1rem;
      list-style: none;
      color: #404040;
      display: flex;
      font-size: .8rem;
      align-items: center;
      justify-content: center; }
      .footer .footer_nav ul li {
        padding-right: .5rem;
        margin-right: .5rem;
        height: .8rem;
        line-height: .8rem;
        border-right: 1px solid #4e555b; }
        .footer .footer_nav ul li:last-child {
          border: none; }
  .footer .footer_info {
    color: #4040409c;
    font-size: .75rem; }
    .footer .footer_info img {
      opacity: .4;
      width: 1rem;
      height: auto;
      margin-right: .5rem; }
    .footer .footer_info .footer_item p {
      margin: .2rem auto; }
      .footer .footer_info .footer_item p span {
        margin: 0 .5rem; }
    .footer .footer_info .city_title {
      font-weight: bold;
      margin-bottom: .5rem; }
    .footer .footer_info .flex_layout {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 1.2rem;
      font-size: .7rem; }
      .footer .footer_info .flex_layout .city_footer {
        padding: 0;
        margin-bottom: 1rem; }
        .footer .footer_info .flex_layout .city_footer .city_name button {
          border: none;
          background-color: transparent;
          width: 70px;
          padding: 0;
          text-align: left;
          color: #908f8f; }
    .footer .footer_info .footer_status p {
      margin-bottom: .5rem;
      font-size: .6rem; }
  .footer .footer_sub_info {
    color: #4040409c; }

@media screen and (max-width: 768px) {
  .footer .footer_nav ul li {
    border: none;
    height: 2.8rem;
    line-height: 1.4rem; }

  ._footer .footer_nav ul {
    display: inline-block; }
    ._footer .footer_nav ul li {
      font-size: .67rem;
      font-weight: normal;
      float: left;
      margin: 0 1rem;
      padding: 0; } }

/*# sourceMappingURL=common.css.map */
