@charset "UTF-8";
.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 10px;
  background-color: #b9b9b9; }
.carousel-indicators .active {
  background-color: rgba(156, 142, 240, 0.47);
  width: 40px;
  border-radius: 5px; }

.carousel-control-next-icon, .carousel-control-prev-icon {
  background-size: 50%; }

/*轮播图*/
.banner {
  width: 100%;
  text-align: center; }

.banner-img {
  width: 100%;
  max-height: 1300px; }

.sectionPage {
  font-size: 1.42rem;
  background-color: #fff; }
  .sectionPage .item-6 .section_title {
    font-size: 1.3rem;
    font-weight: bold; }
  .sectionPage .item-6 .sub_title {
    font-size: .8rem;
    color: #999999; }
  .sectionPage .item-right {
    text-align: right; }
  .sectionPage .item-4 {
    text-align: right; }
  .sectionPage .bg-text {
    font-size: 1rem; }
  .sectionPage .small-text {
    font-size: .8rem; }
  .sectionPage .col {
    border: 1px solid #000; }

.pic-layout {
  padding-top: 1rem; }

/*自定义5列栅格*/
.col-responsive-5 {
  width: 20%;
  float: left;
  text-align: center;
  overflow: hidden; }
  .col-responsive-5 a {
    position: relative;
    display: block;
    overflow: hidden; }
  .col-responsive-5 .hy_info {
    font-size: .8rem;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 11rem;
    background: rgba(156, 142, 240, 0.6);
    text-align: center;
    height: 0;
    line-height: 2rem;
    border-radius: 0 0 8px 8px;
    color: #fff; }
  .col-responsive-5 img {
    border-radius: 8px;
    height: auto;
    width: 11rem; }

.see_more {
  background-color: rgba(156, 142, 240, 0.47);
  margin: 2rem auto;
  height: 2rem;
  line-height: 2rem;
  width: 90%;
  border-radius: 1rem;
  color: #fff;
  font-size: 1rem;
  border: none; }

@media screen and (max-width: 768px) {
  .col-responsive-5 {
    width: 100%; }
    .col-responsive-5 img {
      width: 100%; }

  .service-item .service_line {
    border-right: none !important; }

  .item-6 {
    padding-top: 2rem; }

  .see_more {
    height: auto;
    line-height: unset;
    padding: .5rem 0; } }
/*选项卡*/
.hy_tabs {
  padding-right: 0; }

.tab-content {
  padding: 0 15px; }

.nav-tabs {
  border: none;
  display: flex;
  justify-content: flex-end; }
  .nav-tabs .nav-item {
    font-size: .9rem; }
  .nav-tabs .nav-link {
    border: none;
    padding: 0 .5rem;
    color: #000; }
  .nav-tabs img {
    height: 1.2rem;
    padding: 0 5px; }

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  background-color: rgba(156, 142, 240, 0.47);
  border-radius: 12px;
  color: #fff; }

/*婚恋服务*/
.service-item {
  padding-top: 1rem; }
  .service-item .service-img {
    height: 8rem;
    background-color: #f1f1f1;
    margin-bottom: 1rem; }
    .service-item .service-img img {
      width: 100%;
      height: 8rem; }
  .service-item h6 {
    font-weight: bold;
    margin: 0; }
  .service-item .service_line {
    padding: 0 14px 0 15px;
    border-right: 1px solid #d8d8d8; }
  .service-item .service-part {
    padding: .5rem 0; }
  .service-item .service_content span {
    font-size: .4rem;
    color: #8b8b8b; }
  .service-item .service_content .service_more {
    width: auto;
    padding: .25rem 1rem;
    background-color: transparent;
    border-radius: 1.5rem;
    font-size: .6rem;
    color: #bebebe;
    border: none;
    border: 1px solid #bebebe; }
    .service-item .service_content .service_more:hover {
      color: #fff;
      border-color: rgba(156, 142, 240, 0.47);
      background-color: rgba(156, 142, 240, 0.47); }

/*情感咨询*/
.consultation_page .fp-tableCell {
  background-color: #fcfcfc !important; }

.consultation_header {
  height: 10rem;
  vertical-align: middle;
  background-size: contain;
  background-color: #fcfcfc;
  position: relative; }
  .consultation_header .consultation_img {
    position: absolute;
    top: -0.5rem;
    max-width: 1020px;
    left: 50%;
    margin-left: -32rem; }

.consultation_box {
  max-width: 1130px;
  margin-right: 21.5rem;
  margin: 0 auto;
  height: 16rem;
  background-color: #f6e2e3;
  box-shadow: 0 0 4px #f6e2e3;
  position: relative; }
  .consultation_box .consultation_outBox {
    position: absolute;
    max-width: 1080px;
    right: 0;
    box-shadow: -3px 14px 10px #ead1d2;
    bottom: 1.5rem;
    width: 100%;
    background-color: #fff;
    height: 20rem; }
    .consultation_box .consultation_outBox .consultation_banner {
      top: 3rem;
      height: 14rem;
      padding: 0; }
      .consultation_box .consultation_outBox .consultation_banner .consultation-img {
        width: 100%;
        height: 14rem;
        position: absolute;
        left: 0;
        top: 0; }
      .consultation_box .consultation_outBox .consultation_banner .left-bottom {
        position: absolute;
        width: 6rem;
        height: 6rem;
        border-bottom: .9rem solid #e7a4a5;
        border-left: .9rem solid #e7a4a5;
        left: -.95rem;
        bottom: -.95rem; }
      .consultation_box .consultation_outBox .consultation_banner .banner_left {
        left: -2rem;
        bottom: 1rem; }
  .consultation_box .content_box {
    display: flex;
    align-items: center; }
    .consultation_box .content_box .consultation-content {
      font-size: 1.3rem;
      color: rgba(156, 142, 240, 0.47); }
      .consultation_box .content_box .consultation-content .content_title {
        font-weight: bold; }
      .consultation_box .content_box .consultation-content .content_sub_title {
        font-size: 1rem; }
      .consultation_box .content_box .consultation-content .content_page {
        font-size: .75rem;
        color: #8b8b8b;
        word-break: break-all;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        line-height: 1.5rem;
        text-align: justify;
        padding-top: 1rem; }
      .consultation_box .content_box .consultation-content .consultation_btn {
        background-color: rgba(156, 142, 240, 0.47);
        border: none;
        height: 1.5rem;
        width: 5rem;
        border-radius: .75rem;
        line-height: 1.5rem;
        font-size: .8rem;
        color: #fff; }
  .consultation_box .JQ-slide-content li {
    position: absolute; }
  .consultation_box .JQ-slide-nav {
    box-shadow: inset 0px 2px 17px #e7a4a563;
    padding: 0;
    width: inherit;
    text-align: center; }
    .consultation_box .JQ-slide-nav li {
      background-color: transparent;
      padding: 1.5rem 1rem; }
      .consultation_box .JQ-slide-nav li img {
        width: 4rem;
        height: auto; }
      .consultation_box .JQ-slide-nav li.on {
        background-color: rgba(156, 142, 240, 0.47); }
  .consultation_box .flex-layout {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0; }

/*# sourceMappingURL=index.css.map */
