@charset "UTF-8";
@import "banner";
@import "variable";
/*轮播图*/
.banner {
  width: 100%;
  text-align: center;
}

.fullpage {
  & .container {
    //border: 3px solid #000;
    //border-radius: 10px;
  }

}

.banner-img {
  width: 100%;
  max-height: 1300px;
}

.sectionPage {
  font-size: 1.42rem;
  background-color: #fff;
  & .item-6 {
    & .section_title {
      font-size: 1.3rem;
      color: black;
    }
    & .sub_title {
      font-size: .6rem;
      color: darken($textColor-base, 40%);
    }
    & .sub_text {
      font-size: .9rem;
      color: black;
      padding-top: 1rem;
    }
  }
  & .item-right {
    text-align: right;
  }
  & .item-4 {
    text-align: right;
  }
  & .bg-text {
    font-size: 1rem;
  }
  & .small-text {
    font-size: .8rem;
  }
  .col {
    border: 1px solid #000;
  }
}

.pic-layout {
  padding-top: 1rem;
}

/*自定义5列栅格*/
.col-responsive-5 {
  width: 20%;
  float: left;
  text-align: center;
  overflow: hidden;
  & a {
    position: relative;
    display: block;
    overflow: hidden;
  }
  & .hy_info {
    font-size: .8rem;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 11rem;
    background: rgba(156, 142, 240, 0.6);
    text-align: center;
    height: 0;
    line-height: 2rem;
    border-radius: 0 0 8px 8px;
    color: #fff;
  }
  & img {
    border-radius: 8px;
    height: auto;
    width: 11rem;
  }
}

.see_more {
  background-color: $backgroundColor-highlight;
  margin: 2rem auto;
  height: 2rem;
  line-height: 2rem;
  width: 90%;
  border-radius: 1rem;
  color: $textColor-base;
  font-size: 1rem;
  border: none;
}

@media screen and (max-width: 768px) {
  .col-responsive-5 {
    width: 100%;
    & img {
      width: 100%;
    }
  }
  .service-item {
    & .service_line {
      border-right: none !important;
    }
  }
  .item-6 {
    padding-top: 2rem;
  }
  .see_more {
    height: auto;
    line-height: unset;
    padding: .5rem 0;
  }
}

/*选项卡*/
.hy_tabs {
  padding-right: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.tab-content {
  padding: 0 15px;
}

.nav-tabs {
  border: none;
  display: flex;
  justify-content: flex-end;
  & .nav-item {
    font-size: .6rem;
  }
  & .nav-link {
    border: none;
    padding: 0 .5rem;
    color: #000;
  }
  & img {
    height: .8rem;
    padding: 0 5px;
  }
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  background-color: $backgroundColor-highlight;
  border-radius: 12px;
  color: $textColor-base;
}

/*婚恋服务*/
.service-item {
  padding-top: 1rem;
  .service-img {
    height: 8rem;
    background-color: lighten($text-gray, 40%);
    margin-bottom: 1rem;
    & img {
      width: 100%;
      height: 8rem;
    }
  }

  h6 {
    color: #696969;
    margin: 0;
  }
  & .service_line {
    padding: 0 14px 0 15px;
    border-right: 1px solid lighten($text-gray, 30%);
  }
  & .service-part {
    padding: .5rem 0;
  }
  .service_content {
    & span {
      font-size: .4rem;
      color: $text-gray;
    }
    & .service_more {
      width: auto;
      padding: .25rem 1rem;
      background-color: transparent;
      border-radius: 1.5rem;
      font-size: .6rem;
      color: lighten($text-gray, 20%);
      border: none;
      border: 1px solid lighten($text-gray, 20%);
      &:hover {
        color: $textColor-base;
        border-color: $backgroundColor-highlight;
        background-color: $backgroundColor-highlight;
      }
    }
  }
}

/*情感咨询*/
.consultation_page {
  & .fp-tableCell {
    background-color: #fcfcfc !important;
  }
}

.consultation_header {
  height: 10rem;
  vertical-align: middle;
  background-size: contain;
  background-color: #fcfcfc;
  position: relative;
  & .consultation_img {
    position: absolute;
    top: -0.5rem;
    max-width: 1020px;
    left: 50%;
    margin-left: -32rem;
  }
}

.consultation_box {
  max-width: 1180px;
  margin: 0 auto;
  left: -2.2rem;
  height: 16rem;
  background-color: #f6e2e3;
  box-shadow: 0 0 4px #f6e2e3;
  position: relative;
  & .consultation_outBox {
    position: absolute;
    max-width: 1084px;
    right: 0;
    box-shadow: -3px 14px 10px #ead1d2;
    bottom: 1.5rem;
    width: 100%;
    background-color: $textColor-base;
    height: 20rem;
    & .consultation_banner {
      top: 3rem;
      height: 14rem;
      padding: 0;
      & .consultation-img {
        width: 100%;
        height: 14rem;
        position: absolute;
        left: 0;
        top: 0;
      }
      & .left-bottom {
        position: absolute;
        width: 6rem;
        height: 6rem;
        border-bottom: .9rem solid #e7a4a5;
        border-left: .9rem solid #e7a4a5;
        left: -.95rem;
        bottom: -.95rem;
      }
      & .banner_left {
        left: -2rem;
        bottom: 1rem;
      }
    }
  }
  & .content_box {
    display: flex;
    align-items: center;
    & .consultation-content {
      font-size: 1.3rem;
      color: $backgroundColor-highlight;
      & .content_title {
        font-weight: bold;
      }
      & .content_sub_title {
        font-size: 1rem;
      }
      & .content_page {
        font-size: .75rem;
        color: $text-gray;
        word-break: break-all;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        line-height: 1.5rem;
        text-align: justify;
        padding-top: 1rem;
      }
      & .consultation_btn {
        background-color: $backgroundColor-highlight;
        border: none;
        height: 1.5rem;
        width: 5rem;
        border-radius: .75rem;
        line-height: 1.5rem;
        font-size: .8rem;
        color: #fff;
      }
    }
  }
  & .JQ-slide-content li {
    position: absolute;
  }
  & .JQ-slide-nav {
    box-shadow: inset 0px 2px 17px #e7a4a563;
    padding: 0;
    width: inherit;
    height: 19.5rem;
    overflow: hidden;
    text-align: center;
    & li {
      background-color: #efdbdc;
      height: 6.5rem;
      line-height: 6.5rem;

      & img {
        width: 8rem;
        height: inherit;
      }
      &.on {
        background-color: $backgroundColor-highlight;
      }
    }
  }
  & .flex-layout {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    & .change_btn {
      background-color: #e7a4a563;
      height: auto;
    }
  }

}

/*相亲活动*/

.blind_banner {
  & .blind_banner_box {
    padding: 0;
    & .JQ-slide-content {
      padding: 0;
      height: 21rem;
      width: 100%;
      & img {
        width: 100%;
        height: auto;
      }
    }
    & .carousel-inner {
      border-radius: 8px;
      margin-bottom: 2rem;
    }
  }

}

.blind_footer {
  & .blind_bg {
    background: url("../image/blind_date.png") no-repeat;
    padding: 0;
  }
  & .sub_banner {
    padding: 0;
    & .row {
      padding: 0;
      & .col-md-4 {
        padding: 0 .5rem;
        &:last-child {
          padding-right: 0;
        }
        a {
          position: relative;
          overflow: hidden;
          display: block;
          & .sub_banner_img {
            width: 100%;
            border-radius: 8px;
            height: 5rem;
          }
          & .blind_info {
            font-size: .6rem;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            background: rgba(0, 0, 0, 0.37);
            text-align: center;
            height: 0;
            line-height: 2rem;
            border-radius: 0 0 8px 8px;
            color: #fff;
          }
        }
      }
    }
  }
}

/* 成功案例*/
.case_box {
  & .case_header {
    margin-bottom: 2rem;
    & .case_tabs {
      & .nav-link {
        border: 1px solid $text-gray;
        border-radius: .5rem;
        margin: 0 .2rem;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  & .four_flash {
    width: 54rem;
    height: 22rem;
    margin: 0 auto;
    position: relative;
    bottom: 2rem;
    & .flashBg {
      width: 58rem;
      height: 30rem;
      margin: 0 auto;
      position: relative;
      overflow: hidden;
      left: -2rem;
      & ul.mobile {
        width: 2000%;
        height: 25rem;
        padding: 0;
        position: absolute;
        top: 15px;
        left: 0;
        & li {
          float: left;
          width: 13rem;
          height: 25rem;
          margin-left: 26px;
          padding-top: 2rem;
          color: #6C6E85;
          position: relative;
          overflow: hidden;
          & img {
            border-radius: 2px;
            width: 12rem;
            height: 20rem;;
            display: block;
            margin: 0 auto;
          }
          & .case_info {
            position: absolute;
            left: .5rem;
            bottom: 3rem;
            width: 12rem;
            background: rgba(0, 0, 0, 0.3);
            height: 4rem;
            line-height: 2rem;
            text-align: left;
            color: #fff;
            border-top: 1px solid #ffffffbd;
            & p {
              font-size: .8rem;
              margin: 0;
              height: 1.7rem;
              padding-left: .5rem;
              color: $textColor-base;
            }
            & .case_item {
              font-size: .7rem;
              word-break: break-all;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
              line-height: 1rem;
              height: 2rem;
              overflow: hidden;
            }
          }
        }
      }
    }
    & .operate_btn {
      width: 2rem;
      height: 3rem;
      line-height: 3rem;
      text-align: center;
      position: absolute;
      color: #fff;
      background: #00000045;
      top: 50%;
      &.btn_left {
        left: 0;
      }
      &.btn_right {
        right: -.7rem;
      }
    }
  }
  & .case_more {
    text-align: center;
    & .case_more {
      border: none;
      font-size: .7rem;
      color: $textColor-base;
      width: 9rem;
      padding: .3rem 0;
      border-radius: 1rem;
      background-color: $backgroundColor-highlight;
    }
  }
}

/*资讯中心*/
.news_box {
  & .news_header {
    margin-bottom: 2rem;
    & .case_tabs {
      & .nav-link {
        border: 1px solid $text-gray;
        border-radius: .5rem;
        margin: 0 .2rem;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  & .news_banner {
    & .col-md-4 {
      padding: 0 .5rem;
      &:first-child{
        padding-left: .2rem;
      }
      &:last-child{
        padding-right: .2rem;
      }
    }
    & .news_img {
      width: 100%;
      height: auto;
    }
  }
}
