@charset "UTF-8";
@import "banner";
@import "variable";

.header {
  & .nav_box {
    & .bg-light {
      background-color: rgba(255, 255, 255, 0.7) !important;
    }
  }
}

/*轮播图*/
.banner {
  width: 100%;
  text-align: center;
}

.fullpage {
  & .container {
    //border: 3px solid #000;
    //border-radius: 10px;
  }

}

.banner-img {
  width: 100%;
  max-height: 1300px;
}

.sectionPage {
  font-size: 1.42rem;
  background-color: #fff;
  & .item-6 {
    & .section_title {
      font-size: 1.3rem;
      color: black;
    }
    & .sub_title {
      font-size: .6rem;
      color: darken($textColor-base, 40%);
    }
    & .sub_text {
      font-size: .9rem;
      color: black;
      padding-top: 1rem;
    }
  }
  & .item-right {
    text-align: right;
  }
  & .item-4 {
    text-align: right;
  }
  & .bg-text {
    font-size: 1rem;
  }
  & .small-text {
    font-size: .8rem;
  }
  .col {
    border: 1px solid #000;
  }
}

.pic-layout {
  padding-top: 1rem;
  position: relative;
}

/*自定义5列栅格*/
.col-responsive-5 {
  width: 20%;
  padding: 0 2px;
  float: left;
  text-align: center;
  overflow: hidden;
  & a {
    position: relative;
    display: block;
    overflow: hidden;
  }
  & .hy_info {
    font-size: .8rem;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 11rem;
    background: rgba(156, 142, 240, 0.6);
    text-align: center;
    height: 0;
    line-height: 2rem;
    border-radius: 0 0 8px 8px;
    color: #fff;
  }
  & img {
    border-radius: 8px;
    height: auto;
    width: 100%;
  }
}

.see_more {
  background-color: $backgroundColor-highlight;
  margin: 2rem auto;
  height: 2rem;
  line-height: 2rem;
  width: 10rem;
  border-radius: 1rem;
  color: $textColor-base;
  font-size: 1rem;
  border: none;
}

/*选项卡*/
.hy_tabs {
  padding-right: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.tab-content {
  padding: 0 15px;
}

.nav-tabs {
  border: none;
  display: flex;
  justify-content: flex-end;
  & .nav-item {
    font-size: .6rem;
  }
  & .nav-link {
    border: none;
    padding: 0 .5rem;
    color: #000;
  }
  & img {
    height: .8rem;
    padding: 0 5px;
  }
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  background-color: $backgroundColor-highlight;
  border-radius: 12px;
  color: $textColor-base;
}

/*婚恋服务*/
.service-item {
  padding-top: 1rem;
  .service-img {
    height: 8rem;
    background-color: lighten($text-gray, 40%);
    margin-bottom: 1rem;
    & img {
      width: 100%;
      height: 8rem;
    }
  }

  h6 {
    color: #696969;
    margin: 0;
  }
  & .service_line {
    padding: 0 14px 0 15px;
    border-right: 1px solid lighten($text-gray, 30%);
  }
  & .service-part {
    padding: .5rem 0;
  }
  .service_content {
    & span {
      font-size: .4rem;
      color: $text-gray;
    }
    & .service_more {
      width: auto;
      padding: .25rem 1rem;
      background-color: transparent;
      border-radius: 1.5rem;
      font-size: .6rem;
      color: lighten($text-gray, 20%);
      border: none;
      border: 1px solid lighten($text-gray, 20%);
      &:hover {
        color: $textColor-base;
        border-color: $backgroundColor-highlight;
        background-color: $backgroundColor-highlight;
      }
    }
  }
}

/*情感咨询*/
.consultation_page {
  & .fp-tableCell {
    background-color: #fcfcfc !important;
  }
  & .consultation-bg {
    background-color: #f6e2e3;
    max-width: 1180px;
    left: -40px;
    height: 17rem;
    margin: 0 auto;
    position: relative;
    & .container {
      & .consultation-container {
        background-color: #fff;
        line-height: 20rem;
        box-shadow: -3px 14px 10px #ead1d2;
        left: 55px;
        top: -6rem;
        max-width: 1090px;
        position: relative;
        & .consultation-banner {
          margin-left: 0;
          & .consultation-img {
            width: 100%;
            height: 281px;
            position: relative;
          }
          & .JQ-slide-content li {
            position: absolute;
          }
          & .consultation-content {
            font-size: 1.3rem;
            line-height: 2rem;
            margin: 4rem auto;
            color: $backgroundColor-highlight;
            & .content_title {
              font-weight: bold;
            }
            & .content_sub_title {
              font-size: 1rem;
            }
            & .content_page {
              font-size: .75rem;
              color: #8b8b8bd9;
              word-break: break-all;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 3;
              overflow: hidden;
              line-height: 1.5rem;
              text-align: justify;
              padding-top: 1rem;
            }
            & .consultation_btn {
              background-color: $backgroundColor-highlight;
              border: none;
              height: 1.5rem;
              width: 5rem;
              border-radius: .75rem;
              line-height: 1.5rem;
              font-size: .8rem;
              color: #fff;
            }
          }
          & .left-bottom {
            position: absolute;
            width: 6rem;
            height: 6rem;
            border-bottom: .9rem solid #e7a4a5;
            border-left: .9rem solid #e7a4a5;
            left: 2.5rem;
            bottom: 2.36rem;
          }
        }
        & .flex-layout {
          padding: 0;
          & .JQ-slide-nav {
            box-shadow: inset 0px 2px 17px #e7a4a563;
            padding: 0;
            width: inherit;
            height: 19.5rem;
            overflow: hidden;
            text-align: center;
            & li {
              background-color: #efdbdc;
              height: 6.5rem;
              line-height: 6.5rem;

              & img {
                width: 8rem;
                height: inherit;
              }
              &.on {
                background-color: $backgroundColor-highlight;
              }
            }
          }
        }
      }
    }
  }
}

.consultation_header {
  height: 10rem;
  vertical-align: middle;
  background-size: contain;
  background-color: #fcfcfc;
  position: relative;
  & .consultation_img {
    position: absolute;
    top: -0.5rem;
    max-width: 1020px;
    left: 50%;
    margin-left: -32rem;
  }
}

/*相亲活动*/

.blind_banner {
  & .blind_banner_box {
    padding: 0;
    & .JQ-slide-content {
      padding: 0;
      height: 21rem;
      width: 100%;
      & img {
        width: 100%;
        height: auto;
      }
    }
    & .carousel-inner {
      border-radius: 8px;
      margin-bottom: 2rem;
    }
  }

}

.blind_footer {
  & .blind_bg {
    background: url("../image/blind_date.png") no-repeat;
    padding: 0;
  }
  & .sub_banner {
    padding: 0;
    & .row {
      padding: 0;
      & .blind_sub_banner {
        padding: 0 .5rem;
        width: 33.3%;
        &:last-child {
          padding-right: 0;
        }
        a {
          position: relative;
          overflow: hidden;
          display: block;
          & .sub_banner_img {
            width: 100%;
            border-radius: 8px;
            height: 5rem;
          }
          & .blind_info {
            font-size: .6rem;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            background: rgba(0, 0, 0, 0.37);
            text-align: center;
            height: 0;
            line-height: 2rem;
            border-radius: 0 0 8px 8px;
            color: #fff;
          }
        }
      }
    }
  }
}

/* 成功案例*/
.case_box {
  & .case_header {
    margin-bottom: 2rem;
    & .case_tabs {
      & .nav-link {
        border: 1px solid $text-gray;
        border-radius: .5rem;
        margin: 0 .2rem;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  & .four_flash {
    width: 54rem;
    height: 22rem;
    margin: 0 auto;
    position: relative;
    bottom: 2rem;
    & .flashBg {
      width: 58rem;
      height: 25rem;
      margin: 0 auto;
      position: relative;
      overflow: hidden;
      left: -2rem;
      & ul.mobile {
        width: 2000%;
        height: 25rem;
        padding: 0;
        position: absolute;
        top: 15px;
        left: 0;
        & li {
          float: left;
          width: 13rem;
          height: 25rem;
          margin-left: 26px;
          padding-top: 2rem;
          color: #6C6E85;
          position: relative;
          overflow: hidden;
          & img {
            border-radius: 2px;
            width: 12rem;
            height: 20rem;;
            display: block;
            margin: 0 auto;
          }
          & .case_info {
            position: absolute;
            left: .5rem;
            bottom: 3rem;
            width: 12rem;
            background: rgba(0, 0, 0, 0.3);
            height: 4rem;
            line-height: 2rem;
            text-align: left;
            color: #fff;
            border-top: 1px solid #ffffffbd;
            & p {
              font-size: .8rem;
              margin: 0;
              height: 1.7rem;
              padding-left: .5rem;
              color: #ffffffd4;
            }
            & .case_item {
              font-size: .7rem;
              word-break: break-all;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
              line-height: 1rem;
              height: 2rem;
              overflow: hidden;
            }
          }
        }
      }
    }
    & .operate_btn {
      width: 2rem;
      height: 3rem;
      line-height: 3rem;
      text-align: center;
      position: absolute;
      color: #fff;
      background: #00000045;
      top: 50%;
      &.btn_left {
        left: 0;
      }
      &.btn_right {
        right: -.7rem;
      }
    }
  }
  & .case_more {
    text-align: center;
    & .case_more {
      border: none;
      font-size: .7rem;
      color: $textColor-base;
      width: 9rem;
      padding: .3rem 0;
      border-radius: 1rem;
      background-color: $backgroundColor-highlight;
    }
  }
}

/*资讯中心*/
.news_box {
  & .news_header {
    margin-bottom: 2rem;
    & .case_tabs {
      & .nav-link {
        border: 1px solid $text-gray;
        border-radius: .5rem;
        margin: 0 .2rem;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  & .news_banner {
    padding-right: 0;
    & .col-md-4 {
      padding: 0 .5rem;
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }
    & .news_img {
      width: 100%;
      height: 11rem;
      margin-bottom: 1rem;
    }
    & .news_info {
      font-size: .7rem;
      color: black;
      margin: .5rem auto;
      & .news_title {
        font-size: .75rem;
        margin: 1rem 0;
      }
      & .news_sub_title {
        margin: .5rem 0 1rem;
        color: #8b8b8b;
        word-break: break-all;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        line-height: 1rem;
        height: 2rem;
        overflow: hidden;
      }
      & .news_time {
        border-top: 1px solid #8b8b8b26;
        padding: 1.2rem 0;
      }
    }
  }
}

/*联系我们*/
.contact_banner {
  width: 100%;
  top: 0;
  margin-bottom: 2rem;
  position: relative;
  & .contact_img {
    width: 100%;
    height: auto;
    max-height: 30rem;
  }
}

.contact_box {
  & .contact_footer {
    padding-bottom: 1rem;
  }
  & .contact_style {
    font-size: .8rem;
    color: black;
    padding: 0 0 1rem;
    & p {
      margin-bottom: .2rem;
      & span {
        width: 4rem;
        text-align: justify;
        display: inline-block;
        text-align-last: justify;
      }
    }
    & .contact_title {
      font-weight: bold;
      padding-bottom: 1rem;
    }
    & .contact_info {
      font-size: .75rem;
      color: #878787;
    }
    & .form-contact {
      position: relative;
      & .form-group {
        &.form-group-item {
          margin-bottom: .5rem;
        }
        & label {
          font-size: .7rem;
          color: #5f5f5f;
        }
        & .form-control {
          border: none;
          border-bottom: 1px solid #ced4da;
          border-radius: 0;
          padding: 0;
          width: 100%;
          &:focus {
            box-shadow: unset;
          }
        }
      }

      & .btn_commit {
        float: left;
        background-color: $backgroundColor-highlight;
        color: $textColor-base;
        font-size: .8rem;
        border-radius: 1rem;
        padding: .2rem 2rem;
        border: none;
        position: absolute;
        left: 1rem;
        top: 1rem;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .height_auto {
    & .fp-tableCell {
      height: auto !important;
    }
  }
  .item-6 {
    padding-top: 2rem;
  }

  /*优质会员*/
  .pic-layout {
    & .col-responsive-5 {
      width: 50%;
      & a {
        margin: 5px;
      }
      &.last_right {
        position: absolute;
        right: 0;
      }
      & img {
        width: 100%;
      }
    }
    & .see_more {
      position: absolute;
      right: 30px;
      bottom: 0;
    }
  }

  /* 婚恋服务*/
  .service-item {
    & .service_line {
      border-right: none !important;
    }
  }
  /*会员*/
  .hy_tabs {
    margin-top: .5rem;
  }
  /*资讯中心*/
  .news_box {
    & .news_banner {
      & .news_info {
        & .news_sub_title {
          line-height: 2rem !important;
          height: 4rem !important;
        }
      }
    }
  }

  /*情感咨询*/
  .consultation_page {
    height: auto !important;
    padding: 20px 0 170px;
    .consultation_header {
      height: 8rem !important;
      & .consultation_img {
        width: 450px;
        height: 30px;
        overflow: hidden;
      }
    }
    & .consultation-bg {
      height: 207px !important;
      & .consultation-container {
        top: -18px !important;
        height: 210px;
        line-height: 16rem !important;
        & .JQ-slide-content li {
          top: 10px;
          left: 2rem;
        }
        & .consultation-img {
          height: 178px !important;
        }
        & .consultation-content {
          margin-left: 50px !important;
          top: 20px;
          position: relative;
          & .consultation_btn {
            width: 7rem !important;
            padding: 2px 0;
          }
        }
        & .flex-layout {
          & .JQ-slide-nav {
            position: relative;
            top: 200px;
            height: 130px !important;
            width: 20% !important;
            z-index: 1;
            & li img {
              width: 6rem !important;
            }
          }
        }
      }
    }
    & .left-bottom {
      left: 25px !important;
      top: 138px !important;
    }
  }
}