@import "variable";

.login-form {
  background-color: rgba(0, 111, 229, 0.44);
  background: url("../image/login_regist/login.png") no-repeat center;
  height: 36rem;
  position: relative;
  background-size: cover;
  & .login_header {
    width: 70%;
    margin: 0 auto;
    top: 8rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 12px 2px #8483839e;
    padding: .5rem 0;
    & .circle {
      width: 4rem;
      height: 4rem;
      left: 50%;
      margin-left: -2rem;
      top: -2rem;
      box-shadow: 0px -6px 9px 0px #8483836b;;
      border-radius: 50%;
      position: absolute;
      background-color: #fff;
      & .login_logo {
        position: absolute;
        left: .26rem;
        width: 3.5rem;
        top: 1rem;
        height: auto;
      }
    }
    & .text-center {
      margin-bottom: 2rem;
      padding: 2rem 0 1rem;
      border-bottom: 2px solid lighten($backgroundColor-highlight, 20%);
      color: $backgroundColor-highlight;
    }
    & .form-horizontal {
      margin: 0 1rem;
    }
    & .form-group {
      margin: 1rem 0;
      input {
        border: none;
        color: #000;
        background-color: $lighten-colorful;
        border-radius: 0;
        font-size: .8rem;
      }
      .checkbox {
        font-size: .8rem;
      }
      .btn-info {
        background-color: $backgroundColor-highlight;
        color: #fff;
        padding: .5rem 0;
        border-radius: 3px;
        border: none;
        width: 100%;
        &:active, &:not(:disabled):not(.disabled).active:focus, &:not(:disabled):not(.disabled):active:focus, .show > &.dropdown-toggle:focus {
          background-color: $backgroundColor-highlight;
          box-shadow: 0 0 .5rem darken($backgroundColor-highlight, 5%);
          border-color: transparent;
        }
        &:focus,&.focus,&:hover{
          box-shadow: unset;
          box-shadow: 0 0 .5rem darken($backgroundColor-highlight, 5%);
        }

      }
      input[type=checkbox], input[type=radio] {
        margin-right: 5px;
      }
      label {
        color: $backgroundColor-highlight;
        font-size: .6rem;
      }
      .form-control:focus {
        box-shadow: unset;
      }
      &.form_register {
        text-align: center;
        & .register {
          text-align: center;
          font-size: .9rem;
          color: $backgroundColor-highlight;
          font-weight: bold;
        }
      }

    }
  }
}

.nav_box {
  & .login_nav {
    & .login-img{
      width: 7rem;
      height: auto;
    }
    & .login_btn {
      text-decoration: underline !important;
      color: $backgroundColor-highlight;
    }

    & .nav-item span {
      color: $backgroundColor-highlight !important;
    }
  }

}
