@import "variable";

.offline_bg {
  & .offline_img {
    width: 100%;
  }
}

._footer{
  margin-top: 2rem;
}
.offline_content {
  & .item-6 {
    padding: 0;
    & .section_title {
      font-size: 1rem;
      color: $text-base;
    }
    & .sub_title {
      font-size: .6rem;
      color: $text-base;
      font-weight: bold;
    }
    & .sub_text {
      font-size: .9rem;
      color: black;
      padding-top: 1rem;
    }
  }
  & .record_box {
    padding: 2rem 0;
    border-bottom: 2px solid #ececec;
    & .record_container {
      & .offline_record {
        & .col-md-3 {
          & p {
            font-size: .6rem;
            color: #848484;
            text-align: center;
            margin-bottom: .2rem;
            & span {
              font-size: 2rem;
              color: #4d4d4d;
              font-weight: bolder;
            }
          }
        }
      }
    }
  }
  & .private_container {
    padding: 2rem 15px;
    & .private_title {
      text-align: center;
      padding: 1rem 0;
      & p {
        font-size: .8rem;
        margin-bottom: .3rem;
        &.title {
          font-size: 1.5rem;
          font-weight: bold;
          color: #4d4d4d;
        }
        &.sub_title {
          padding-bottom: .5rem;
        }
      }
      & .line {
        width: 2.2rem;
        height: 2px;
        background-color: #e5c197;
        margin: 0 auto;
      }

    }
    & .private_list {
      text-align: center;
      & .col-md-4 {
        border: 1px dashed #d5d5d5;
        padding: 1.5rem .5rem;
        background-color: #f7f7f7;
        overflow: hidden;
        &:nth-child(2) {
          border-width: 1px 0 0 0;
        }
        &:nth-child(5) {
          border-width: 1px 0 1px 0;
        }
        &:nth-child(1), &:nth-child(3) {
          border-width: 1px 1px 0 1px;
        }
        & .private_icon {
          width: 3rem;
          height: 3rem;
          padding-bottom: .5rem;
          filter: drop-shadow(-1060px 0 #fff);
          -webkit-filter: drop-shadow(-1060px 0 #fff);
        }
        & p {
          margin-bottom: .5rem;
          color: #4d4d4d;
          &.title {
            font-size: 1rem;
            font-weight: bold;
          }
          &.sub_title {
            font-size: .7rem;
          }
        }
        & .private_btn {
          display: none;
          border-radius: 1rem;
          padding: .2rem .8rem;
          color: $backgroundColor-highlight;
          background-color: #fff;
          border: none;
          font-size: .8rem;
          box-shadow: 0 0 4px #6f42c1;
        }
        &.active {
          background-color: $backgroundColor-highlight;
          & p {
            color: #fff;
          }
          & .private_icon {
            transform: translate(1060px, 0);
            -webkit-transform: translate(1060px, 0);
          }
          & .private_btn {
            display: inline-block;
          }
        }
      }
    }
  }
  & .service_value {
    background-color: #f1f1f1;
    padding: 1rem 0;
    & .service_container {
      & .service_list {
        padding: 1rem 0;
        text-align: center;
        & .list_item {
          padding: .5rem;
          & .item_title {
            padding-bottom: 1rem;
            & p {
              margin-bottom: .3rem;
              color: $text-base;
              &.title_name {
                font-size: 1rem;
              }
              &.title_en {
                font-size: .8rem;
              }
            }
          }
          & .service_icon {
            width: 3rem;
            height: 3rem;
            margin-bottom: 1rem;
          }
          & .service_text {
            font-size: .7rem;
          }
        }
      }
    }
  }
  & .relationship_box {
    border-bottom: 2px solid #ececec;
    padding: 1rem 0;
    & .relationship_container {
      & .relationship_list {
        padding: 1rem 0;
        & .relationship_item {
          padding: 0 .3rem;
          margin: .5rem;
          color: $text-base;
          max-width: 31%;
          & .relationship_img {
            width: 18rem;
            height: 9rem;
            margin-bottom: 1rem;
          }
          & .name {
            margin-bottom: .5rem;
          }
          & .info {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            & .text {
              font-size: .6rem;
            }
            & .style_icon{
              & .iconfont{
                border: 1px solid #efefef;
                padding: .2rem;
                border-radius: 50%;
                font-size: 1.2rem;
                color: #9c9a9a;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and(max-width: 768px) {
  .offline_bg {
    & .offline_img {
      height: 11rem;
    }
  }
  .offline_content {
    & .record_box {
      & .record_container {
        .offline_record {
          & .col-md-3 {
            width: 50% !important;
            padding: .5rem 0;
          }
        }
      }
    }
    & .private_container {
      & .private_list {
        & .col-md-4 {
          width: 50% !important;
          border: none;
        }
      }
    }
    & .service_value {
      & .service_list {
        & .list_item {
          width: 50% !important;
        }
      }
    }
    & .relationship_box{
      & .relationship_container{
        & .relationship_list{
          & .relationship_item {
            max-width: 100% !important;
            & .relationship_img {
              width: 100% !important;
              height: 60% !important;
            }
          }
        }
      }
    }
  }
}