.register_box .nav_box .bg-light {
  background-color: #fff !important; }
.register_box .nav_box .register_btn button {
  border: none;
  border-radius: 8px;
  padding: .2rem 1rem;
  color: white;
  font-size: .8rem;
  background-color: #9c8ef0; }
.register_box .register_form {
  position: relative;
  background-color: #f9f9f9; }
  .register_box .register_form .container {
    background: #f9f9f9;
    padding: 1rem 3rem; }
    .register_box .register_form .container .register-content {
      font-size: .8rem;
      color: black; }
      .register_box .register_form .container .register-content .register_left {
        background-color: #fff;
        padding: 1rem 15px;
        overflow: hidden; }
        .register_box .register_form .container .register-content .register_left .register_item {
          padding-left: .3rem;
          height: .8rem;
          font-weight: bold;
          line-height: .8rem;
          border-left: 3px solid #9c8ef0; }
          .register_box .register_form .container .register-content .register_left .register_item .register_info {
            margin-left: 4%;
            font-weight: normal; }
            .register_box .register_form .container .register-content .register_left .register_item .register_info span {
              color: #9c8ef0;
              padding: 0 .2rem; }
        .register_box .register_form .container .register-content .register_left .form-group {
          font-size: .75rem; }
          .register_box .register_form .container .register-content .register_left .form-group .line-height {
            line-height: 1.6rem; }
          .register_box .register_form .container .register-content .register_left .form-group label {
            width: 4.7rem; }
          .register_box .register_form .container .register-content .register_left .form-group input[type='tel'], .register_box .register_form .container .register-content .register_left .form-group input[type="password"] {
            width: 100%;
            border-color: rgba(0, 0, 0, 0);
            background-color: #f4f4f4;
            padding: .2rem .5rem; }
          .register_box .register_form .container .register-content .register_left .form-group .padding-none {
            padding: 0; }
          .register_box .register_form .container .register-content .register_left .form-group .custom-select {
            height: auto;
            padding: .2rem; }
          .register_box .register_form .container .register-content .register_left .form-group .register_margin {
            margin-left: 4.7rem;
            font-size: .7rem;
            color: #000000; }
            .register_box .register_form .container .register-content .register_left .form-group .register_margin a {
              color: #9c8ef0;
              text-decoration: underline; }
            .register_box .register_form .container .register-content .register_left .form-group .register_margin .register_btn {
              border: none;
              border-radius: 3px;
              padding: .5rem 3rem;
              color: #fff;
              font-size: .8rem;
              background: linear-gradient(to right, #a068ef, #886cf0); }
      .register_box .register_form .container .register-content .register_right {
        position: relative; }
        .register_box .register_form .container .register-content .register_right .register_img {
          height: 36rem;
          width: 100%; }
        .register_box .register_form .container .register-content .register_right .register_title {
          position: absolute;
          top: 5rem;
          margin-left: -7rem;
          left: 50%;
          width: 14rem;
          height: 3rem; }
        .register_box .register_form .container .register-content .register_right .register_copy {
          position: absolute;
          left: 50%;
          margin-left: -63px;
          top: 10rem;
          text-align: center; }
          .register_box .register_form .container .register-content .register_right .register_copy p {
            font-size: .7rem;
            color: #000; }

@media screen and (max-width: 768px) {
  .register_form .container {
    padding: 0 !important; }
    .register_form .container .register_left .form-group label {
      width: 6rem !important; }
    .register_form .container .register_left .form-group .form-check-inline {
      width: 20%; }
    .register_form .container .register_left .form-group .register_margin {
      margin-left: -.3rem !important; } }

/*# sourceMappingURL=register.css.map */
