@charset "UTF-8";
.register_box .nav_box .bg-light {
  background-color: #fff !important; }
.register_box .nav_box .register_btn button {
  border: none;
  border-radius: 8px;
  padding: .2rem 1rem;
  color: white;
  font-size: .8rem;
  background-color: #9c8ef0; }
.register_box .register_form {
  position: relative;
  background-color: #f9f9f9; }
  .register_box .register_form .container {
    background: #f9f9f9;
    padding: 1rem 3rem; }
    .register_box .register_form .container .register-content {
      font-size: .8rem;
      color: black; }
      .register_box .register_form .container .register-content .register_left {
        background-color: #fff;
        padding: 1rem 15px;
        overflow: hidden; }
        .register_box .register_form .container .register-content .register_left .register_item {
          padding-left: .3rem;
          height: .8rem;
          font-weight: bold;
          line-height: .8rem;
          border-left: 3px solid #9c8ef0; }
          .register_box .register_form .container .register-content .register_left .register_item .register_info {
            margin-left: 4%;
            font-weight: normal; }
            .register_box .register_form .container .register-content .register_left .register_item .register_info span {
              color: #9c8ef0;
              padding: 0 .2rem; }
        .register_box .register_form .container .register-content .register_left .form-group {
          font-size: .75rem;
          /*拖动块的样式*/ }
          .register_box .register_form .container .register-content .register_left .form-group .line-height {
            line-height: 1.6rem; }
          .register_box .register_form .container .register-content .register_left .form-group label {
            width: 4.7rem; }
          .register_box .register_form .container .register-content .register_left .form-group input[type='tel'], .register_box .register_form .container .register-content .register_left .form-group input[type="password"] {
            width: 100%;
            border-color: rgba(0, 0, 0, 0);
            background-color: #f4f4f4;
            padding: .2rem .5rem; }
          .register_box .register_form .container .register-content .register_left .form-group input[type="range"] {
            -webkit-appearance: none;
            /*清除系统默认样式*/
            width: 94.5%;
            background: -webkit-linear-gradient(#a068ef, #9463f7) no-repeat, #d8d8d8;
            background-size: 40% 100%;
            height: .3rem;
            position: absolute;
            top: 14px;
            left: 11px;
            z-index: 1; }
          .register_box .register_form .container .register-content .register_left .form-group input[type="range"]::-webkit-slider-thumb {
            -webkit-appearance: none;
            height: .9rem;
            width: .9rem;
            background: url("../image/login_regist/circle.png") no-repeat center; }
            .register_box .register_form .container .register-content .register_left .form-group input[type="range"]::-webkit-slider-thumb:hover {
              cursor: pointer; }
          .register_box .register_form .container .register-content .register_left .form-group .register_tooltip {
            background: #fff;
            box-shadow: 0 0 4px #bbb;
            background-size: 100% 100%;
            height: 1.2rem;
            line-height: 1.2rem;
            padding: .2rem;
            position: relative;
            left: 7.5rem;
            top: -1.3rem;
            z-index: 2;
            border-radius: 6px; }
            .register_box .register_form .container .register-content .register_left .form-group .register_tooltip::after {
              position: absolute;
              content: "";
              left: .8rem;
              top: 1.4rem;
              border-top: 8px solid #fff;
              border-left: 10px solid transparent;
              border-right: 10px solid transparent; }
          .register_box .register_form .container .register-content .register_left .form-group .birth_width {
            width: 24rem;
            display: inline-block; }
            .register_box .register_form .container .register-content .register_left .form-group .birth_width select {
              width: 6rem; }
          .register_box .register_form .container .register-content .register_left .form-group .rules_img {
            position: absolute;
            left: 0;
            z-index: 0;
            top: 0;
            height: 2rem;
            width: 100%; }
          .register_box .register_form .container .register-content .register_left .form-group .distPicker {
            display: inline-block;
            width: 24rem; }
            .register_box .register_form .container .register-content .register_left .form-group .distPicker select {
              width: 7rem; }
          .register_box .register_form .container .register-content .register_left .form-group .padding-none {
            padding: 0; }
          .register_box .register_form .container .register-content .register_left .form-group .custom-select {
            height: auto;
            padding: .2rem; }
          .register_box .register_form .container .register-content .register_left .form-group .register_margin {
            margin-left: 4.7rem;
            font-size: .7rem;
            color: #000000; }
            .register_box .register_form .container .register-content .register_left .form-group .register_margin a {
              color: #9c8ef0;
              text-decoration: underline; }
              .register_box .register_form .container .register-content .register_left .form-group .register_margin a:hover {
                cursor: pointer; }
            .register_box .register_form .container .register-content .register_left .form-group .register_margin .register_btn {
              border: none;
              border-radius: 3px;
              padding: .5rem 3rem;
              color: #fff;
              font-size: .8rem;
              background: linear-gradient(to right, #a068ef, #886cf0); }
              .register_box .register_form .container .register-content .register_left .form-group .register_margin .register_btn:disabled {
                background: linear-gradient(to right, rgba(160, 104, 239, 0.59), rgba(136, 108, 240, 0.58)); }
      .register_box .register_form .container .register-content .register_right {
        position: relative; }
        .register_box .register_form .container .register-content .register_right .register_img {
          height: 36rem;
          width: 100%; }
        .register_box .register_form .container .register-content .register_right .register_title {
          position: absolute;
          top: 5rem;
          margin-left: -7rem;
          left: 50%;
          width: 14rem;
          height: 3rem; }
        .register_box .register_form .container .register-content .register_right .register_copy {
          position: absolute;
          left: 50%;
          margin-left: -63px;
          top: 10rem;
          text-align: center; }
          .register_box .register_form .container .register-content .register_right .register_copy p {
            font-size: .7rem;
            color: #000; }

@media screen and (max-width: 767px) {
  .register_form .container {
    padding: 0 !important; }
    .register_form .container .register_left .form-group label {
      width: 6rem !important; }
    .register_form .container .register_left .form-group .form-check-inline {
      width: 20%; }
    .register_form .container .register_left .form-group .register_margin {
      margin-left: -.3rem !important; }
    .register_form .container .register_left .form-group input[type="range"] {
      top: 7px !important;
      left: 7px !important; }
    .register_form .container .register_left .form-group input[type="range"]::-webkit-slider-thumb {
      width: 1rem !important;
      height: 1rem !important;
      border-radius: 50%; }
    .register_form .container .register_left .form-group .register_tooltip {
      padding: .1rem .2rem !important;
      top: -1.6rem !important;
      left: 11rem !important; } }
@media screen and (min-width: 480px) and (max-width: 767px) {
  .register_form .container .register_left .form-group input[type="range"] {
    top: 12px !important; } }

/*# sourceMappingURL=register.css.map */
