@import "variable";

.service_body {
  background-color: #f6f6f6;
}

.bg_padding{
  padding: 0;
  & .service_bg {
    width: 100%;
  }
  & .feedback_bg{
    width: 100%;
    max-height: 28rem;
  }
}


.service_container {
  position: relative;
  & .service_content {
    padding: 1rem;
    position: relative;
    top: -10rem;
    font-size: .7rem;
    background-color: #fff;
    & .service_part {
      margin-bottom: 2rem;
      & .item-6 {
        & .section_title {
          font-size: 1rem;
          color: black;
        }
        & .sub_title {
          font-size: .6rem;
          color: darken($textColor-base, 40%);
        }
        & .sub_text {
          font-size: .9rem;
          color: black;
          padding-top: 1rem;
        }
      }
    }
    & .service_agreement_page {
      & li {
        margin-bottom: 1rem;
      }
      & p {
        color: #8a8989;
        margin-bottom: .4rem;
        font-size: .6rem;
      }
      & .title {
        color: #000000;
        font-size: .8rem;
        padding-left: 20px;
      }
      & ul{
        padding-left: 20px;
      }
      & .item_title {
        color: #000000;
        font-size: .7rem;
      }
    }
    & .top_right_img {
      position: absolute;
      top: 30px;
      right: 0;
      width: 6rem;
      height: 5rem;
    }

    & .feedback_form{
      & textarea{
        width: 100%;
        padding: 15px;
        height: 10rem;
        border-color: #e5e5e5;
      }
      & .submit_feedback{
        float: right;
        background: transparent;
        padding: .3rem 1rem;
        border-radius: 1rem;
        line-height: 1rem;
        border: 1px solid #e5e5e5;
        color: #d9d9d9;
        font-size: 1rem;
        &:after{
          border: none;
        }
        &:hover{
          border-color: #999999;
          color: #999999;
        }
      }
    }
  }
  & .footer {
    margin-top: -9rem;
  }
}

@media screen and (max-width: 768px) {
  .service_bg{
    height: 11rem;
  }
  .footer{
    margin-top: -2rem !important;
  }
  .service_container {
    & .service_content {
      top: -3rem;
    }
  }
}